#conteneur
{
    display: flex;
    justify-content: center;
}

#menu_footer
{
	display: flex;
	justify-content: space-around;
}

nav
{
    border: 2px white double;
    width: 520px;
    position: absolute;
    left: 250px;
    top: 30px;
}

footer
{
	display: block;
    border: 1px solid black;
    position: absolute;
    top: 670px;
    left: 200px;

}

#tout
{
	position: absolute;
	top: 150px;
}

#foot
{
	display: inline-block;
}

#updown
{
	display: inline-block;
	border: 1px solid black;
	height: 200px;
	width: 340px;
 	vertical-align: top;
}

#photo
{
	display: inline-block;
	border: 1px solid black;
	height: 300px;
	width: 340px;
	vertical-align: top;
}

#element
{
	display: block;
}

.bouton a {
display:block;
width:40px;
line-height:20px;
text-align:center;
vertical-align:middle;
background:url(../images/bouton-noir.png) no-repeat;
color:white;
text-decoration:none;
}
.bouton a:hover {
background:url(../images/bouton-noir-2.png) no-repeat;
}

#branche_graph
{
	display: inline-block;
	border: 1px solid black;
	vertical-align: top;
	width: 340px;
	padding: 4px;
}

#corps_graph
{
	position: absolute;
	left: 130px;
	top: 130px;
}

#footer_graph
{
	position: absolute;
	top: 150px;
	left: 10px;
}

#tout_main
{
	position: absolute;
	top: 130px;
	left: 130px;
}

h1
{
	color: black;
	border: 1px solid black;
	display: block;
	width: 130px;
	padding: 10px;
	position: absolute;
	left: 40px;
	top: 20px;
}

a:link 
{ 
 	text-decoration:none; 
} 

a
{
	color: black;
}

#texte
{
	display: block;
	border: 1px solid black;
	width: 800px;
	position: absolute;
	left: 100px;
	top: 150px;

}

#photo_graph
{
	display: block;
	border: 1px solid black;
	padding-top: 6px;
	padding-left: 3px;

}

.ligne_verticale
{
    width:5px;
    border-left:1px solid black;
    height:70px;
    position: relative;
    left: 160px;
}

#connexion_admin
{
	display: block;
	border: 1px solid black;
	position: absolute;
	top: 200px;
	left: 200px;
	padding: 20px;

}

#admin
{
	font-size: 50%;
}

div.fileinputs {
	position: relative;
}

div.fakefile {
	position: relative;
	bottom: 20px;
	right: 33px;
	z-index: 1;
}

input.file {
	position: relative;
	left: 0px;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}

#browse
{
	display: block;
	margin-bottom: 10px;
	border: 1px solid black;
}

.bouton_send
{
position: relative;
left: 100px;
background:url(../images/bouton-noir.png);
border          : 0px solid #def;
}

#send
{
	display: block;
	border: 1px solid black;
	position: relative;
	left: 30px;
	width: 240px;
}



input[type="file"] {
  background-color:white; 
  font:bold 14px Arial, Helvetica, sans-serif; 
  color:red; 
  border:0; 
  cursor:pointer; 
}
