#conteneur
{
    display: flex;
    justify-content: center;
}

#menu_footer
{
	display: flex;
	justify-content: space-around;
}

nav
{
    width: 520px;
    position: absolute;
    left: 250px;
    top: 30px;
}



#photo
{
	display: inline-block;
	height: 600px;
	width: 360px;
	vertical-align: top;
}

.bouton_main a {
display:block;
width:80px;
line-height:60px;
text-align:center;
vertical-align:middle;
background:url(../images/main_blanc_rect.png) no-repeat;
color:white;
text-decoration:none;
}
.bouton_main a:hover {
background:url(../images/main_gris_rect.png) no-repeat;
}

.bouton_graph a {
display:block;
width:80px;
line-height:60px;
text-align:center;
vertical-align:middle;
background:url(../images/graph_blanc_rect.png) no-repeat;
color:white;
text-decoration:none;
}
.bouton_graph a:hover {
background:url(../images/graph_gris_rect.png) no-repeat;
}

.bouton_help a {
display:block;
width:80px;
line-height:60px;
text-align:center;
vertical-align:middle;
background:url(../images/help_blanc_rect.png) no-repeat;
color:white;
text-decoration:none;
}
.bouton_help a:hover {
background:url(../images/help_gris_rect.png) no-repeat;
}

#branche_graph
{
	display: inline-block;
	vertical-align: top;
	width: 340px;
	padding: 4px;
}

#corps_graph, #tout_main, #texte
{
	position: absolute;
	left: 90px;
	top: 170px;
}

#footer
{
    position: absolute;
    top: 640px;
    left: 40px;
}

h1
{
	color: black;
	display: block;
	width: 130px;
	padding: 10px;
	position: absolute;
	left: 40px;
	top: 20px;
}

a:link 
{ 
 	text-decoration:none; 
} 

a
{
	color: black;
}

#photo_graph
{
	display: block;
	border: 1px solid black;
	padding-top: 6px;
	padding-left: 3px;

}

.ligne_verticale
{
    width:5px;
    border-left:1px solid black;
    height:70px;
    position: relative;
    left: 160px;
}

#connexion_admin
{
	display: block;
	border: 1px solid black;
	position: absolute;
	top: 200px;
	left: 200px;
	padding: 20px;

}

#admin
{
	font-size: 50%;
}

#filedrag1, #filedrag2, #filedrag3
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	color: #555;
	border: 1px dashed #555;
	border-radius: 3px;
	cursor: default;
}

#filedrag1.hover, #filedrag2.hover, #filedrag3.hover
{
	color: #555;
	border-color: #555;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

#messages1, #messages2, #messages3
{
	display: block;
}

#block1, #block2, #block3
{
	display: block;
	height: 350px;
}

#photo3, #photo2, #photo1

{
	display: block;
	margin: 20px;
	height: 200px;
}

#fileselect1, #fileselect2, #fileselect3
{
	display: none;
}

body
{
	font-family: "Segoe UI", Tahoma, Helvetica, freesans, sans-serif;
	font-size: 90%;
	color: #333;
	background-color: #fff;
}

h1, h2
{
	font-size: 1.5em;
	font-weight: normal;
}

h2
{
	font-size: 1.3em;
}

legend
{
	font-weight: bold;
	color: #333;
}

#texte
{
	display: block;
	width: 600px;
	position: absolute;
}

#Download_link
{
    font-weight: bold;
    position: relative;
    left: 93px;
}